<script setup lang="ts">
import { ref ,onMounted, reactive, Ref} from 'vue'
import Grid from  "./Grid.vue"
import axios from "axios"
import { io, Socket } from "socket.io-client";
import ServerToClientEvents from "socket.io-client"

interface GridData {
  ip:string,
  click:number
}

// please note that the types are reversed
const socket = io("http://141.145.195.52:3000");
const count = ref(0)
const searchQuery = ref("")
const gridColumns = ['ip', 'click']
let gridData : Ref<GridData[]>= ref([])


socket.on("scores",(data:GridData[]) => {
  console.log("scores :",data)
  gridData.value = data
})
socket.on("score",(data:number) => {
  count.value = data

})


// onMounted( async () => {
//   const res = await axios.get("http://141.145.195.52:3000/btn")
//   if(res.data){
//    count.value =  res.data.click
//   }
// }

// )

async function saveToServer(){
//   console.log("launching request")
// const res = await axios.post("http://141.145.195.52:3000/btn")
// if(res.data){
//   count.value = res.data.click
// }
// console.log("request ", res)*
console.log('click emit event')
socket.emit("click")
}

</script>

<template>
  <Grid
    :data="gridData"
    :columns="gridColumns"
    :filter-key="searchQuery">
  </Grid>
  <h1>COUNTER</h1>

  <div class="card">
    <button type="button" @click="saveToServer">count is {{ count }}</button>
  </div>

</template>

<style scoped>
.read-the-docs {
  color: #888;
}
</style>
